hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid @border-color-base;
  margin: 1em 0;
  padding: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#root {
  > .ant-layout {
    min-height: 100vh;
    .ant-layout-sider {
      overflow: auto;
      height: 100vh;
      position: fixed;
      left: 0px;
      z-index: 200;
      .logo {
        text-align: center;
        margin: 15px;
        img {
          width: 50%;
        }
      }
    }
    .ant-layout-header {
      background: #ffffff;
      position: fixed;
      z-index: 100;
      width: calc(100% - 200px);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0px 16px;
      box-shadow: 0 2px 8px #f0f1f2;
      ul.menu {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
          .gap-horizontal(10px);
          padding: 0 10px;
          &:hover {
            background-color: rgba(255, 255, 255, 0.65);
          }
        }
      }
      .user-avatar {
        display: block;
        text-decoration: none;
      }
    }
    .ant-layout-content {
      margin: 65px 0px;
      .main-content {
        padding: 24px;
        background: #ffffff;
        min-height: 360px;
      }
    }
    .ant-layout-footer {
      text-align: center;
    }
  }
}

ul.actions-btn {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0 !important;
  padding: 0 !important;
  li {
    .gap-horizontal(6px);
    cursor: pointer;
  }
}

.header-page {
  .right {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      li {
        .gap-horizontal(6px);
      }
    }
  }
}

[class^="page-"] {
  &.list {
    .actions-bar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 5px;
      ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        li {
          .gap-horizontal(4px);
        }
      }
      .left {
      }
      .right {
        ul {
          justify-content: flex-end;
        }
      }
    }
  }
}

.filter-list-bar {
  display: flex;
  flex-direction: row;
  margin-top: 6px;
  margin-bottom: 8px;
  li {
    cursor: pointer;
    position: relative;
    .gap-horizontal(6px);
    &.active {
      font-weight: bold;
    }
    &:after {
      content: "l";
      position: absolute;
      top: 0;
      right: -8px;
      font-weight: normal;
    }
    &:last-child {
      &:after {
        content: "";
      }
    }
  }
}
