.gap-vertical(@gap) {
  margin: @gap 0;
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.gap-horizontal(@gap) {
  margin: 0 @gap;
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}
