.page-login {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .login-form-block {
    position: absolute;
    width: 400px;
    border: 1px solid #eeeeee;
    border-radius: 4px;
    padding: 25px;
    background-color: #ffffff;
    .logo {
      text-align: center;
      margin-bottom: 15px;
      img {
        max-width: 100%;
      }
    }
    .app-name {
      text-align: center;
      font-size: 28px;
      margin-bottom: 10px;
    }
    .ant-form-item {
      &:last-child {
        margin-bottom: 0;
      }
    }
    .ant-input {
      height: 40px;
    }
    .login-form-button {
      width: 100%;
      height: 36px;
    }
  }
}
