.media-component {
  .media-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .item {
      position: relative;
      cursor: pointer;
      width: 150px;
      height: 150px;
      border: 1px solid #d9d9d9;
      border-radius: 4px;
      .check-block {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        width: 20px;
        height: 20px;
        background: #000000;
        border-radius: 50%;
        i {
          color: #ffffff;
        }
      }
      &:hover {
        .check-block {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}

.media-modal {
  padding: 0;
  top: 0;
  .ant-modal-content {
    border-radius: 0;
  }
  .ant-modal-body {
    height: calc(100vh - 108px);
    overflow: auto;
  }
  .media-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .ant-upload.ant-upload-select-picture-card {
      width: 100%;
      height: 100%;
    }
    .item {
      position: relative;
      cursor: pointer;
      max-width: 150px;
      width: 100%;
      height: 150px;
      border: 2px solid #d9d9d9;
      border-radius: 4px;
      margin: 5px;
      flex: 1 0 auto;
      height: auto;
      &:before {
        content: "";
        float: left;
        padding-top: 100%;
      }
      .check-block {
        position: absolute;
        top: -5px;
        right: -5px;
        width: 20px;
        height: 20px;
        background: @primary-color;
        display: flex;
        justify-content: center;
        align-items: center;
        i {
          color: #ffffff;
        }
        .minus {
          display: none;
        }
        &:hover {
          .check {
            display: none;
          }
          .minus {
            display: inline-block;
          }
        }
      }
      &.active,
      &:hover {
        border-color: @primary-color;
      }
    }
  }
  .ant-modal-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.media-items {
  .type-file {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .icon-file {
      flex: 1 1 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      i {
        font-size: 60px;
      }
    }
    .file-name {
      flex: 0 0 auto;
      text-align: center;
      font-size: 12px;
      border-top: 1px solid #d9d9d9;
      line-height: 1.5;
      padding: 4px;
      width: 100%;
    }
  }
}
